<h3>Shout here</h3>
<div class="forms">
  <div class="text_shout_form">
    <%= form_for @dashboard.new_text_shout do |form| %>
      <%= form.text_field :body, 
                          placeholder: 'Shout content here', 
                          class: "input"%>
      <%= form.submit 'Shout!', class: "btn1 btn-mini" %>
    <% end %>
  </div>
  <div class="photo_shout_form">
    <%= form_for @dashboard.new_photo_shout do |form| %>
      <%= form.file_field :image, class: "input"%>
      <%= form.submit 'Shout!', class: "btn1 btn-mini" %>
    <% end %>
  </div>
</div>