<%= div_for shout do %>
  <div class="avatar">
    <%= link_to gravatar(shout.user), shout.user %>
  </div>
  <div class="content">
    <%= link_to shout.user.username, shout.user, class: "username" %>
    <span class="email"><%= shout.user.email %></span>
    <%= link_to "#{time_ago_in_words(shout.created_at)} ago.", 
                shout, class: "time" %>
    <div>
      <%= render shout.content %>
    </div>
  </div>
  <div class="comment_form">
    <form action="">
      <input type="text" placeholder="Write comment here", class="input", size="35">
      <input type="submit" value="Comment!" class="btn1 btn-mini">
    </form>
  </div>
<% end %>