<div class="login">
  <h1>Login</h1>
  <%= form_for :session, url: session_path do |form| %>
    <div class="fields">
      <%= form.label :email %><br>
      <%= form.email_field :email, class: 'input' %>
    </div>
    <div class="fields">
      <%= form.label :password %><br>
      <%= form.password_field :password, class: 'input'  %>
    </div>
    <div class="actions">
      <%= form.submit "Sign in", class: 'btn1 btn-mini' %>
    </div>
  <% end %>
</div>
