<div class="signup">
  <h1>Sign up!</h1>
  <%= form_for @user do |form| %>
    <div class="fields">
      <%= form.label :username %> <br>
      <%= form.text_field :username, class: "input" %>
    </div>
    <div class="fields">
      <%= form.label :email %><br>
      <%= form.email_field :email, class: "input" %>
    </div>
    <div class="fields">
      <%= form.label :password %><br>
      <%= form.password_field :password , class: "input"%>
    </div>
    <div class="actions">
      <%= form.submit "Sign up", class: "btn1 btn-mini" %>
    </div>
  <% end %>
</div>
