
body {
  margin: 0; padding: 0;
  font-family: Helvetica;
  background: #eaeaea;
}
h1, h2, h3, h4 {
  font-weight: lighter;
  font-variant: small-caps;
  border-bottom: 1px dashed #ddd;
  color: #0B4C5F;
}
.signup, .login {
  width: 300px;
  margin: 20px auto;
}
.signup h1, .login h1{
  font-variant: small-caps;
  margin-bottom: 20px;
}
.signup .fields, .login .fields{
  margin: 10px 0;
}
.signup .fields label, .login .fields label{
  margin-left: 2px;
}
.signup .fields input, .login .fields input{
  width: 97%;
}
.signup .actions input, .login .actions input{
  width: 100%;
}
.logo {
  color: #0B4C5F;
  font-variant: small-caps;
  font-size: 30px;
  margin-right: 50px;
}
header {
  padding: 4px 10px;
  /*box-shadow: 0 4px 3px -2px #0B4C5F;*/
  border-bottom: 1px solid #ddd;
}
header div.center {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
header div.center nav{
  width: 60%;
  margin-top: 10px;
  float: right;
  overflow: hidden;
}
header div.center nav ul{
  float: right;
  margin: 0;padding: 0
}
header div.center nav ul li{
  list-style: none;
  float: left;
}
header div.center nav ul li a{
  padding: 5px 10px;
  display: inline-block;
  border-radius: 4px;
}
header div.center nav ul li a:hover{
  background: #eaeaea;
}
.header .username {
  color: #0B4C5F;
}
a {
  color: #58D3F7;
  text-decoration: none;
}
.wrapper {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  background: white;
}
p.alert {
  padding: 4px;
  color: #DF3A01;
  background: #F5A9A9;
  border: 1px solid #DF3A01;
}
.container{
  margin:0 auto;
  width: 80%;
  padding: 10px;
  overflow: hidden;
}
.dashboard {
  border-radius: 8px;
  margin-top: 20px;
  min-height: 300px;
  width: 310px;
  float: left;
  padding: 10px;
  border: 1px solid #eaeaea;
  background: #FAFAFA;
}
.feed {
  width: 60%;
  float: right;
}
.shouts {
  padding-top: 10px;
  margin-top: 15px;
  border-top: 1px dashed #ddd;
}
.shout {
  position: relative;
  color: #999;
  margin-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}
.shout .comment_form {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: none;
}
.shout .comment_form input[type=submit]{
  margin: 0;
  height: 32px;
  line-height: 24px;
  border-radius: 0 8px 8px 0 !important;
}
.shout .comment_form input[type=text]{
  height: 30px;
  padding: 0 8px 0 8px;
  margin: 0 -5px 0 0;
  border-radius: 8px 0 0 8px;
}
.shout .avatar {
  float: left;
  margin: 5px 10px 0 0;
  padding-right: 5px;
}
.shout .avatar img {
  border-radius: 50px;
}
.shout .content {
  float: left;
  width: 500px;
  margin-top: 5px;
  padding-bottom: 10px;
}
.shout .content img {
  box-shadow: 0 0 10px #ddd;
  border: 2px solid #eaeaea; 
  border-radius: 5px;
}
.shout .content>div {
  margin: 10px 0;
  padding-right: 10px;
}
.shout .username {
  color: #000;
  font-size: 20px;
  display: inline-block;
  font-variant: small-caps;
}
.shout .email {
  color: #999;
  font-size: 15px;
}
.shout .time {
  position: absolute;
  top: 7px;
  right: 0;
  background: #E0F2F7;
  color: #01A9DB;
  font-size: 10px;
  text-align: center;
  padding: 2px;
  display: inline-block;
  font-variant: small-caps;
}
.forms {
  overflow: hidden;
  margin-top: 20px;
}
.dashboard input, .dashboard textarea {
  width: 95%;
}

.text_shout_form {
  padding-left: 5%;
  float: left;
  width: 55%;
}
.text_shout_form .input[type=text] {
  width: 80%;
}
.photo_shout_form {
  float: right;
  width: 40%;
}