

body{
  font-family: Helvetica;
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
  margin: 4px;padding: 4px;
}
h1{
  font: lighter 40px Helvetica;
  color: #2e373f;
}
h2{
  font: lighter 34px Helvetica;
  color: #2e373f;
}
h3{
  font: lighter 24px Helvetica;
  color: #2e373f;
}
h4{
  font: lighter 20px Helvetica;
  color: #2e373f;
}
h5{
  font: bold 18px Helvetica;
  color: #2e373f;
}
h6{
  font: lighter 15px Helvetica;
  color: #c3c3c3;
  text-transform: uppercase;
}
p{
  font:normal 14px Helvetica;
  color: #5f5e5e;
}
a{
  text-decoration: none;
  color: #5daad0;
}
em{
  font:lighter italic 14px Helvetica;
}

.btn-small{
  font-size: 14px !important;
  padding: 7px 10px !important;
  border-radius: 4px !important;
}
.btn-mini{
  font-size: 12px !important;
  padding: 5px 8px !important;
  border-radius: 4px !important;
}
/*PRIMARY BUTTONS*/
.btn1{
  border: none;
  border-bottom:2px solid #467f9c;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #5daad0;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.btn2{
  border: none;
  border-bottom:2px solid #467f9c;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #71bce1;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.btn3{
  border: none;
  margin:4px;
  border-bottom:2px solid #71bce1;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #71bce1;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-disabled{
  border: none;
  border-bottom:2px solid #7c7c7c;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #a5a5a5;
  color: #d8d7d7;
  text-transform: uppercase;
}

/*SECONDARY BUTTONS*/
.second-btn1{
  border: none;
  border-bottom:2px solid #22292f;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #2e373f;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.second-btn2{
  border: none;
  border-bottom:2px solid #313940;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #414c55;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.second-btn3{
  border: none;
  margin:4px;
  border-bottom:2px solid #414c55;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #414c55;
  color: #FFF;
  text-transform: uppercase;
  cursor: pointer;
}
.second-btn-disabled{
  border: none;
  border-bottom:2px solid #282828;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #353535;
  color: #747474;
  text-transform: uppercase;
}
/* TERTIARY BUTTONS*/
.tertiary-btn1{
  border: none;
  border-bottom:2px solid #b8b8b8;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #eceaea;
  color: #5f5e5e;
  text-transform: uppercase;
  cursor: pointer;
}
.tertiary-btn2{
  border: none;
  border-bottom:2px solid #bbbaba;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #eceaea;
  color: #5f5e5e;
  text-transform: uppercase;
  cursor: pointer;
}
.tertiary-btn3{
  border: none;
  margin:4px;
  border-bottom:2px solid #eceaea;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #eceaea;
  color: #5f5e5e;
  text-transform: uppercase;
  cursor: pointer;
}
.tertiary-btn-disabled{
  border: none;
  border-bottom:2px solid #dddddd;
  margin:4px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  font:bold 15px Helvetica;
  background: #f6f6f6;
  color: #c5c4c4;
  text-transform: uppercase;
}
/* FORM INPUTS */
input.input, textarea.input{
  font:14px Helvetica;
  color: #2e373f;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  padding: 6px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
input.input:hover, textarea.input:hover{
  border: 1px solid #8dc3de;
}
 
input.input:focus, textarea.input:focus {
  box-shadow: 0 0 8px #8dc3de; /*rgba(224, 239, 246, 1);*/
  border: 1px solid #8dc3de; /*rgba(81, 203, 238, 1);*/
}

/***************************/

label.select > select {
  padding:6px;
  border-radius:4px;  
  font:14px Helvetica;
  background: #fff;
  color: #2e373f;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  cursor:pointer;
}
label.select > select:hover {
  border: 1px solid #8dc3de;
}
label.select > select:focus{
  box-shadow: 0 0 8px #8dc3de; /*rgba(224, 239, 246, 1);*/
  border: 1px solid #8dc3de; /*rgba(81, 203, 238, 1);*/
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

label.select {position:relative}
label.select:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label.select:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

/***************************/


/* FIELD WITH ERROR*/
input.error, textarea.error{
  font:14px Helvetica;
  color: #eb816d;
  border: 1px solid #eb816d;
  border-radius: 6px;
  padding: 6px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
label.select > select.error{
  color: #eb816d;
  border: 1px solid #eb816d;
}
input.error:hover, textarea.error:hover,label.select > select.error:hover{
  border: 1px solid #eb816d; /*rgba(255, 118, 139, 1);*/
}
input.error:focus, textarea.error:focus,label.select>select.error:focus {
  box-shadow: 0 0 8px #eb816d;
  border: 1px solid #eb816d;
}
span.error{
  color:#e86e56;
  font: lighter italic 13px Helvetica;
}