<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="center">
        <%= link_to "Shouter", root_path, class:"logo" %>
        <nav>
          <ul>
            <% if signed_in? %>
              <li><%= link_to current_user.username, current_user, class:"username" %>|</li>
              <li><%= link_to 'Sign out', session_path, method: :delete  %>|</li>
            <% else %>
              <li><%= link_to 'Sign in', new_session_path %>|</li>
              <li><%= link_to 'Sign up', new_user_path %>|</li>
            <% end %>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <%= yield %>
    </div>

  </div>
</body>
</html>
